.btns {
    background: #F9F9F9;
    border-radius: 100px;
    padding: 10px 30px;
    color: #000;
    text-decoration: none;
    font-size: 1.45em;
    margin: 10px 0 0 5px;
    font-size:20px;
    cursor: pointer;
    border:1px solid #BD965D;
    }
    .active {
    background: #F9F9F9;
    color: #BD965D;
    }
    .btns:hover {
    background: #F9F9F9;
    color: #BD965D;
    }
    .header-top {
    background: #fff;
    height: 50px;
    width: 100%;
    }